* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}


/* fonts families */
@font-face {
    font-family: 'joy';
    src: url(../font/InterTight-BlackItalic.ttf);
}

@font-face {
    font-family: 'heroh1';
    src: url(../font/Licorice-Regular.ttf);
}

@font-face {
    font-family: h3s;
    src: url(../font/Agbalumo-Regular.ttf);
}

@font-face {
    font-family: 'body';
    src: url(../font/Michroma-Regular.ttf);
}

/* pre-navbar */
#prenav {
    background-color: aliceblue;
    padding-right: 30px;
}

.prenavlink {
    text-align: end;
    padding: 7px;
}

.prenavlink a {
    text-decoration: none;
    color: black;
    font-family: 'joy';
    font-size: 12px;
    transition: 0.3s;
}

.prenavlink .user {
    font-size: 20px;
}

.prenavlink a:hover {
    color: gray;
}

.prenavlink i {
    font-size: 5px;
    padding: 10px;
    color: black;
}

/* navbar */
.nav-heart,
.cart-icon {
    position: relative;
}

.favorites-count,
.cart-badge {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 0px 5px;
    font-size: 10px;
}

nav {
    background-color: #f3f3f3;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #9a4500;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 20px;

}

.search-bar1 {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
    border: none;
    outline: none;
    width: 200px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icon {
    color: black;
    font-size: 23px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-icon:hover {
    color: #9a4500;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
}

.navactive.active {
    font-weight: bold;
    color: #964b00;
}

@media (max-width: 930px) {
    .search-bar1 {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .search-container {
        display: none;
        width: 100%;
        margin: 15px 0;
    }

    .search-container.active {
        display: flex;
    }

    .nav-icons {
        display: none;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        gap: 30px;
    }

    .nav-icons.active {
        display: flex;
    }

    .logo-container {
        order: 1;
    }

    .menu-toggle {
        order: 2;
    }

    .nav-links {
        order: 3;
    }

    .search-container {
        order: 4;
    }

    .nav-icons {
        order: 5;
    }
}

/* end of nav */

.favy {
    padding-top: 40px;
    align-items: center;
    text-align: center;
}


.fynf {
    margin-top: 50px;
}

.fynf-head h2 {
    text-align: center;
}

.fynf-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 80%;
    margin: 10px auto;
}

.container1 {
    border-radius: 20px;
    background-color: white;
    height: 315px;
    width: 220px;
    position: relative;
    margin: 10px auto;
    box-shadow: 0 3px 15px 3px rgb(223, 221, 221);
}

.cart {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.container1 .shoe1 {
    margin: 5px 5px;
    background-color: #e9e4e4;
    border-radius: 15px;
    height: 150px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.shoe1 i {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    color: #ff6200;
}

.shoe1 img {
    transform: rotate(18deg);
}

.info {
    margin: 0px 5px;
}

.price-cart p {
    font-family: 'body';
}

.stars i {
    color: #ff7700;
    font-size: 14px;
}

.stars span {
    font-size: 12px;
}

.container1 button {
    border: 1px solid black;
    position: absolute;
    bottom: 10px;
    right: 5px;
    left: 5px;
    border-radius: 15px;
    height: 35px;
    background-color: #ffb468;
    transition: 0.5s;
}

.container1 button:hover {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.50);
}

.seemore {
    text-align: center;
}

.seemore button {
    padding: 5px 50px;
    border: 1px solid black;
    background-color: #ffb468;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
}

.fav-sec {
    height: 60vh;
    border-radius: 10px;
    background: #fffdfd;
    margin: 20px;
    box-shadow: inset 0px -7px 15px 3px rgb(211, 211, 211);
}


/* footer section */
.ft-container {
    display: flex;
    width: 95%;
    margin: 20px auto;
    gap: 10px;
    justify-content: space-around;
}

.ft-icons a {
    color: black;
}

footer h5 {
    margin-bottom: 15px;
}

.ft-icons i {
    font-size: 20px;
    margin: 3px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 30px;
    transition: 0.5s;
}

.ft-icons i:hover {
    transform: translateY(-5px);
}

.ft-content2 i {
    font-size: 20px;
    margin-right: 10px;
}

.ft-content3 a {
    text-decoration: none;
    color: black;
}

.ft-content3 a:hover {
    color: blue;
    text-decoration: underline;
}

.ft-content3 ul {
    list-style: none;
}

.ft-content4 .inp1 {
    margin: 5px 0;
    padding: 5px;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid black;
}

.ft-content4 .inp2 {
    font-size: 13px;
    height: 35px;
    border-radius: 30px;
    padding: 0 5px;
    color: #ffb468;
    border: 1px solid black;
    background-color: rgba(129, 26, 26, 0.719);
}

.last {
    text-align: center;
    font-size: 13px;
}

footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #f3f3f3, #ffb468 20%);
}

.ft-content1,
.ft-content2,
.ft-content3,
.ft-content4 {
    margin-top: 20px;
}

/* resposiveness */
@media (max-width: 930px) {
    .ft-container{
        flex-direction: column;
    }
}
  