* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/* fonts families */
@font-face {
    font-family: 'joy';
    src: url(../font/InterTight-BlackItalic.ttf);
}

@font-face {
    font-family: 'heroh1';
    src: url(../font/Licorice-Regular.ttf);
}

@font-face {
    font-family: 'h3s';
    src: url(../font/Agbalumo-Regular.ttf);
}

@font-face {
    font-family: 'body';
    src: url(../font/Michroma-Regular.ttf);
}

@font-face {
    font-family: 'heads';
    src: url(../font/ElsieSwashCaps-Black.ttf);
}

/* pre-navbar */
#prenav {
    background-color: aliceblue;
    padding-right: 30px;
}

.prenavlink {
    text-align: end;
    padding: 7px;
}

.prenavlink a {
    text-decoration: none;
    color: black;
    font-family: 'joy';
    font-size: 12px;
    transition: 0.3s;
}

.prenavlink .user {
    font-size: 20px;
}

.prenavlink a:hover {
    color: gray;
}

.prenavlink i {
    font-size: 5px;
    padding: 10px;
    color: black;
}

/* navbar */
.nav-heart,
.cart-icon {
    position: relative;
}

.favorites-count,
.cart-badge {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 0px 5px;
    font-size: 10px;
}

nav {
    background-color: #f3f3f3;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #9a4500;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 20px;

}

.search-bar1 {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
    border: none;
    outline: none;
    width: 200px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icon {
    color: black;
    font-size: 23px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-icon:hover {
    color: #9a4500;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
}

.navactive.active {
    font-weight: bold;
    color: #964b00;
}

@media (max-width: 930px) {
    .search-bar1 {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .search-container {
        display: none;
        width: 100%;
        margin: 15px 0;
    }

    .search-container.active {
        display: flex;
    }

    .nav-icons {
        display: none;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        gap: 30px;
    }

    .nav-icons.active {
        display: flex;
    }

    .logo-container {
        order: 1;
    }

    .menu-toggle {
        order: 2;
    }

    .nav-links {
        order: 3;
    }

    .search-container {
        order: 4;
    }

    .nav-icons {
        order: 5;
    }
}


/* sign in section */
.sign-up {
    display: flex;
    width: 98%;
    gap: 10px;
    margin: 20px auto;
}

.su-img {
    border: 1px solid black;
    height: 80vh;
    width: 100%;
    margin: 5px auto;
    border-radius: 10px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: hidden;
}

.su-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Black with 50% opacity */
    z-index: 2;
    /* Above video, below text */
    border-radius: 10px;
}


.form {
    /* border: 1px solid black; */
    height: 80vh;
    width: 100%;
    margin: 5px auto;
    border-radius: 10px;
}

.su-img h1 {
    font-family: 'heroh1';
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 30%;
    position: relative;
    color: #f3f3f3;
    z-index: 3;
}

/* signup section  */
.form form {
    /* border: 1px solid black; */
    width: 400px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}

.su-head h2 {
    font-family: 'body';
}

.lgn-link a {
    color: black;
}

.tc-link a {
    color: black;
}

.form input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

.inputs {
    padding: 8px 0px;
}

.cr-alternatives {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: auto;
}

.sib {
    transition: 0.5s;
}

.sib:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.80);
}

.cr-head {
    margin: 10px auto;
    margin-top: 20px;
    text-align: center;
}

.g,
.a {
    margin: auto;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.cr-alternatives i {
    padding-right: 5px;
    font-size: 20px;
}

/* video */
.hidden-controls::-webkit-media-controls {
    display: none !important;
}

.hidden-controls::-webkit-media-controls-enclosure {
    display: none !important;
}

.su-img video {
    position: absolute;
    top: 0;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    z-index: 1;
}


/* footer section */
.ft-container {
    display: flex;
    width: 95%;
    margin: 20px auto;
    gap: 10px;
    justify-content: space-around;
}

.ft-icons a {
    color: black;
}

footer h5 {
    margin-bottom: 15px;
}

.ft-icons i {
    font-size: 20px;
    margin: 3px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 30px;
    transition: 0.5s;
}

.ft-icons i:hover {
    transform: translateY(-5px);
}

.ft-content2 i {
    font-size: 20px;
    margin-right: 10px;
}

.ft-content3 a {
    text-decoration: none;
    color: black;
}

.ft-content3 a:hover {
    color: blue;
    text-decoration: underline;
}

.ft-content3 ul {
    list-style: none;
}

.ft-content4 .inp1 {
    margin: 5px 0;
    padding: 5px;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid black;
}

.ft-content4 .inp2 {
    font-size: 13px;
    height: 35px;
    border-radius: 30px;
    padding: 0 5px;
    color: #ffb468;
    border: 1px solid black;
    background-color: rgba(129, 26, 26, 0.719);
}

.last {
    text-align: center;
    font-size: 13px;
}

footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #f3f3f3, #ffb468 20%);
}

.ft-content1,
.ft-content2,
.ft-content3,
.ft-content4 {
    margin-top: 20px;
}

/* resposiveness */
@media (max-width: 930px) {
    .ft-container {
        flex-direction: column;
    }

    .sign-up {
        flex-direction: column;
    }

    .form form {
        margin: 50px auto;
    }

    .su-img {
        margin-top: -50%;
        height: 500px;
    }

    .su-img video {
        height: 500px;
    }
}